html {
	font-size: 18px;
}

body {
	line-height: 1.4;
	font-family: "Helvetica", sans-serif;
}

#banner, #boxcontainer, #content, footer {
	width: 960px;
	margin: 0 auto;
}

/* Nav and Hero Image */

header {
	background-image: url(../images/glasses-bg.png);
	background-size: cover;
	background-position: -250px;
	height: 31rem;
	padding-top: 1rem;
}

#banner {
	background-color: cadetblue;
	display: flex;
	justify-content: space-between;
}

#banner a {
	color: white;
	text-decoration: none;
}

#logo img {
	height: 1.5rem;
	padding-left: 2rem;
	padding-right: 1rem;
}

#logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav a {
	padding: 1rem 2rem;
}

/* Banner slogan */

#boxcontainer {
	display: flex;
	justify-content: flex-end;
}

#box {
	display: inline-block;
	background-color: white;
	margin-top: 10rem;
	margin-right: -2rem;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2rem;
	padding: 1.5rem 5rem;
}

/* Icons with services */

#icons {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	padding: 3rem 0;
	
}

.icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 8rem;
	text-align: center;
	width: 5rem;
	margin: 1rem 3rem;	
}

#paper {
	width: 3.5rem;
}

#ruler, #truck {
	width: 5rem;
}

/*Philosophy and Appts*/

#mission {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.column {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 2.5%;
}

.heading {
	background-color: cadetblue;
	font-weight: bold;
	color: white;
	width: 10rem;
	text-transform: uppercase;
	font-size: 1rem;
	padding: .5rem 1.25rem;
	margin-bottom: 1rem;
}

footer {
	background-color: azure;
	margin-top: 5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

footer img {
	height: 1.5rem;
	padding: 4rem 1rem 4rem 4rem;
}








