html {
	font-size: 18px;
}

body {
	line-height: 1.4;
	font-family: "Helvetica", sans-serif;
}

#banner, #boxcontainer, #content, footer {
	width: 960px;
	margin: 0 auto;
}

/* Nav and Hero Image */

header {
	background-image: url(../images/glasses-bg.png);
	background-size: cover;
	background-position: -250px;
	height: 31rem;
	padding-top: 1rem;
}

.show {
		display: none;
	}

#banner {
	background-color: cadetblue;
	display: flex;
	justify-content: space-between;
}

#banner a {
	color: white;
	text-decoration: none;
}

#logo img {
	height: 1.5rem;
	padding-left: 2rem;
	padding-right: 1rem;
}

#logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav a {
	padding: 1rem 2rem;
}

/* Banner slogan */

#boxcontainer {
	display: flex;
	justify-content: flex-end;
}

#box {
	display: inline-block;
	background-color: white;
	margin-top: 10rem;
	margin-right: -2rem;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2rem;
	padding: 1.5rem 5rem;
}

/* Icons with services */

#icons {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	padding: 3rem 0;
	
}

.icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 8rem;
	text-align: center;
	width: 5rem;
	margin: 1rem 3rem;	
}

#paper {
	width: 3.5rem;
}

#ruler, #truck {
	width: 5rem;
}

/*Philosophy and Appts*/

#mission {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.column {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 2.5%;
}

.heading {
	background-color: cadetblue;
	font-weight: bold;
	color: white;
	width: 10rem;
	text-transform: uppercase;
	font-size: 1rem;
	padding: .5rem 1.25rem;
	margin-bottom: 1rem;
}

.column p {
	margin-bottom: 5rem;
}

/*Footer*/

footer {
	background-color: azure;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

footer img {
	height: 1.5rem;
	padding: 4rem 1rem 4rem 4rem;
}

/* Media Query Tablet Landscape*/

@media only screen and (max-width: 960px) {
	
	#banner, #boxcontainer, #content, footer {
		width: 100%;
	}
	
	header {
		height: 22rem;
		padding-top: 0rem;
		background-position: -180px;
	}
	
	#box {
		margin-top: 5rem;
		margin-right: 2rem;
	}

	h1 {
		font-size: 1.33rem;
		padding: 1rem 4rem;
	}
}

/* Media Query Mobile */

@media only screen and (max-width: 711px) {
	
	header {
		height: 17rem;
		background-position: 20%;
	}
	
	.hide {
		display: none;
	}
	
	.show {
		display: block;
	}
	
	a {
		display: block;
	}
	
	#box {
		width: 75%;
		margin: 10.5rem auto 0 auto;
		text-align: center;
	}
	
	h1 {
		font-size: 1rem;
		padding: .75rem 2rem;
	}
	
	#icons {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3.77rem 0;
	}
	
	.icon {
		justify-content: center;
		align-items: center;
		height: 8rem;
		text-align: center;
		padding: .77rem 0;
		width: 5rem;
	}
	
	.icon img {
		padding-bottom: 1rem;
	}
	
	#mission {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.column {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	.heading {
		width: 100%;
		font-size: 1rem;
		margin-bottom: 1rem;
	}
	
	.column p {
		margin: 0 1rem 4rem 1rem;
	}
	
	footer img {
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
	}






